.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
  }
  
  .navList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .navbar {
      display: none; /* Hide the navbar on mobile devices */
    }
  }